/* Site banner Style */

.site-banner .site-title {
    padding-top: 8%;
    font-weight: 400;
}

.site-banner .site-title h1{
    font-size: 4.5rem;
}

.site-banner .site-title h4{
    font-size: 1.5rem;
}

.site-banner .banner-image > img{
    margin-top: 4.5rem;
    margin-bottom: 1rem;
    width: 90rem;
}

.site-banner .social-icons a{
    color: black;
    font-size: x-large;
    padding: 1rem;
}

.site-banner .social-icons a:hover{
    color: #1e81b0;
}

.contact-info {
    font: 400;
    font-size: large;
}

.portfolio-area .card-img-top {
    height: 250px !important;
}

.resume-section {
    padding: 1rem;
}

.profile-img {
    padding: 0.20rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 65%;
    height: auto;
    float: right;
}

.diagram-height{
    height: 30rem !important;
}

.section-header{
    margin-top: 4.5rem;
    margin-bottom: 1rem;
}

#screen .row{
    margin-bottom: 1rem;
}

.span-pad{
    padding: 1rem 1rem;
}